.Badge {
	display: inline-flex;
	padding: 5px 7px;
	background-color: var(--minor);
	color: var(--inverse);
	font-size: .75rem;
	line-height: 1.1;
	font-weight: 700;
	white-space: nowrap;

	@include mediaUp(md) {
		padding: 6px 8px;
		font-size: 1.25rem;
	}
}
