<footer class="Footer">
	<div class="Footer__grid container-wide">

		<a href="/" class="Logo Footer__logo" aria-label="logo">
			<img src="../../images/logo-inverse.svg" alt="">
		</a>

		<div class="Footer__info">
			Все права защищены.<br>
			Указанная стоимость товаров и условия их приобретения действительны на текущую дату.
		</div>

		<nav class="NavMain Footer__nav">
			<ul>
				<li class="NavMain__item">
					<a href="">Каталог</a>
				</li>
				<li class="NavMain__item">
					<a href="">О нас</a>
				</li>
				<li class="NavMain__item">
					<a href="">Контакты</a>
				</li>
				<li class="NavMain__item">
					<a href="">Галерея</a>
				</li>
			</ul>
		</nav>

		<ul class="SocialLinks Footer__social">
			<li>
				<a href="" class="SocialLink">
					{{icon "instagram" class="Icon"}}
				</a>
			</li>
			<li>
				<a href="" class="SocialLink">
					{{icon "facebook" class="Icon"}}
				</a>
			</li>
			<li>
				<a href="" class="SocialLink">
					{{icon "twitter" class="Icon"}}
				</a>
			</li>
		</ul>

		<a href="tel:+79655698998" class="Phone Footer__phone">+7 (965) 569-89-98</a>

	</div>
</footer>
