<div class="Hero">
	<div class="Hero__container container">

		<div class="Hero__text">

			<h1 class="Hero__heading">
				<img src="../../images/hero-heading.svg" alt="Ёжики">
				тоже любят молоко
			</h1>

			<p>Заведите себе ёжика. Он всегда выслушает, не будет мяукать в 5 утра и царапать вашу мебель.</p>

			<button class="Btn -wide mt-050 md:mt-150 lg:mt-200">Купить ёжика</button>

		</div>

	</div>

	<div class="Hero__decor -spot1"></div>
	<div class="Hero__decor -spot2"></div>
	<img src="../../images/hedgehog-1.png" class="Hero__decor -hedgehog1">
	<img src="../../images/hedgehog-2.png" class="Hero__decor -hedgehog2">

</div>

<div class="FeatureSet">

	<div class="Feature">
		<div class="Circle -lg -brand">
			{{icon "hedgehog" class="Icon -hedgehog"}}
		</div>
		<h5>разведение ежиков</h5>
		<p>Собственная ферма, уход и содержание</p>
	</div>

	<div class="Feature">
		<div class="Circle -lg -brand2">
			{{icon "syringe" class="Icon -syringe"}}
		</div>
		<h5>здоровье</h5>
		<p>Всегда прививаем и вовремя обследуем ваших будущих питомцев</p>
	</div>

	<div class="Feature">
		<div class="Circle -lg">
			{{icon "heart" class="Icon -heart"}}
		</div>
		<h5>любовь и забота</h5>
		<p>Каждому ежику мы дарим много внимания</p>
	</div>

</div>
