.row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -$gap * 0.5;
	margin-left: -$gap * 0.5;
	align-items: stretch;
}

.col,
.col-auto {
	@include makeColumnReady;
}

@for $i from 1 through $columns {
	.col-#{$i} {
		@include makeColumnReady;
	}
}

.col {
	@include makeColumnEq;
}

.col-auto {
	@include makeColumnAuto;
}

@for $i from 1 through $columns {
	.col-#{$i} {
		@include makeColumn($i);
	}
}

@include mediaUp(sm) {
	.sm\:col {
		@include makeColumnEq;
	}
	.sm\:col-auto {
		@include makeColumnAuto;
	}

	@for $i from 1 through $columns {
		.sm\:col-#{$i} {
			@include makeColumnReady;
			@include makeColumn($i);
		}
	}
}

@include mediaUp(md) {
	.md\:col {
		@include makeColumnEq;
	}
	.md\:col-auto {
		@include makeColumnAuto;
	}

	@for $i from 1 through $columns {
		.md\:col-#{$i} {
			@include makeColumnReady;
			@include makeColumn($i);
		}
	}
}

@include mediaUp(lg) {
	.lg\:col {
		@include makeColumnEq;
	}
	.lg\:col-auto {
		@include makeColumnAuto;
	}

	@for $i from 1 through $columns {
		.lg\:col-#{$i} {
			@include makeColumnReady;
			@include makeColumn($i);
		}
	}
}

@include mediaUp(xl) {
	.xl\:col {
		@include makeColumnEq;
	}
	.xl\:col-auto {
		@include makeColumnAuto;
	}

	@for $i from 1 through $columns {
		.xl\:col-#{$i} {
			@include makeColumnReady;
			@include makeColumn($i);
		}
	}
}

.row.gap-sm {
	margin-left: - $gap-sm * 0.5;
	margin-right: - $gap-sm * 0.5;

	> * {
		padding-right: $gap-sm * 0.5;
		padding-left: $gap-sm * 0.5;
	}
}
.row.gap-lg {
	margin-left: - $gap-lg * 0.5;
	margin-right: - $gap-lg * 0.5;

	> * {
		padding-right: $gap-lg * 0.5;
		padding-left: $gap-lg * 0.5;
	}
}

.tile > .row {
	margin-top: -$gap * 0.5;
	margin-bottom: -$gap * 0.5;
}

.tile > .row > * {
	padding-top: $gap * 0.5;
	padding-bottom: $gap * 0.5;
}

.tile > .row.gap-sm {
	margin-top: -$gap-sm * 0.5;
	margin-bottom: -$gap-sm * 0.5;
}

.tile > .row.gap-sm > * {
	padding-top: $gap-sm * 0.5;
	padding-bottom: $gap-sm * 0.5;
}

.tile > .row.gap-lg {
	margin-top: -$gap-lg * 0.5;
	margin-bottom: -$gap-lg * 0.5;
}

.tile > .row.gap-lg > * {
	padding-top: $gap-lg * 0.5;
	padding-bottom: $gap-lg * 0.5;
}
