<!doctype html>
<html lang="{{lang}}">
<head>
	<meta charset="utf-8">
	<title>{{title}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{{> head-includes}}
</head>
<body>
	<div class="Wrap">
		{{> header}}

		<main class="Main">
			{{> @partial-block }}
		</main>

		{{> footer}}

	</div>
	{{> footer-includes}}
</body>
</html>
